<component name="ArtifactManager">
  <artifact name="plugin">
    <output-path>$PROJECT_DIR$/out/artifacts/plugin</output-path>
    <properties id="ant-postprocessing">
      <options enabled="true">
        <file>file://$PROJECT_DIR$/build/ant.build.xml</file>
        <target>replace-tokens-in-teamcity-plugin-xml</target>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="server">
        <element id="library" level="project" name="jgit" />
        <element id="library" level="project" name="jsch-0.1.51" />
        <element id="artifact" artifact-name="git-server.jar" />
        <element id="artifact" artifact-name="git-server-tc.jar" />
        <element id="artifact" artifact-name="git-common.jar" />
        <element id="library" level="project" name="quartz-1.6.0" />
        <element id="library" level="project" name="org.eclipse.egit.github.core-2.4.0-SNAPSHOT" />
        <element id="library" level="project" name="httpclient-4.3.4" />
        <element id="library" level="project" name="JavaEWAH-0.7.9" />
      </element>
      <element id="directory" name="agent">
        <element id="archive" name="jetbrains.git.zip">
          <element id="directory" name="jetbrains.git">
            <element id="directory" name="lib">
              <element id="artifact" artifact-name="git-agent.jar" />
              <element id="artifact" artifact-name="git-common.jar" />
              <element id="library" level="project" name="jgit" />
              <element id="library" level="project" name="jsch-0.1.51" />
              <element id="directory" name="ssh">
                <element id="library" level="project" name="Trilead SSH" />
              </element>
              <element id="library" level="project" name="httpclient-4.3.4" />
            </element>
          </element>
        </element>
      </element>
      <element id="file-copy" path="$PROJECT_DIR$/teamcity-plugin.dist.xml" output-file-name="teamcity-plugin.xml" />
      <element id="directory" name="vcs-worker">
        <element id="archive" name="jetbrains.git.zip">
          <element id="artifact" artifact-name="vcs-worker" />
        </element>
      </element>
      <element id="directory" name="kotlin-dsl">
        <element id="archive" name="configs-dsl-kotlin-git.jar">
          <element id="module-output" name="git-dsl" />
          <element id="directory" name="META-INF">
            <element id="file-copy" path="$PROJECT_DIR$/git-dsl/maven" />
          </element>
        </element>
        <element id="file-copy" path="$PROJECT_DIR$/git-dsl/src/GitVcsRoot.xml" />
      </element>
    </root>
  </artifact>
</component>