<!--
  ~ Copyright 2000-2011 JetBrains s.r.o.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Git Suite">
  <test name="Git Tests">
    <classes>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.GitVcsSupportTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.TestConnectionTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.AuthSettingsTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.SubmoduleTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.CleanerTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.GitUrlSupportTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.VcsPropertiesProcessorTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.GitUtilsTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.GitServerUtilTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.ServerPluginConfigTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.AgentConfigPluginTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.MirrorManagerTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.RepositoryManagerTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.AgentStartupGitDetectorTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.GitResetCacheHandlerTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.ListFilesTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.GitVcsRootTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.MapFullPathTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.AgentMirrorCleanerTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.EchoArgumentEscapingTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.FetcherPropertiesTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.GitMergeSupportTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.GitCommitSupportTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.GitLabelingSupportTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.GitPatchTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.ScriptGenTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.ContentProviderTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.CollectChangesTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.RevisionsCacheTest"/>
      <class name="jetbrains.buildServer.buildTriggers.vcs.git.tests.WellKnownHostingsTest"/>
    </classes>
  </test>
</suite>
